Checks: >
  -*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  misc-*,
  portability-*,

  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-use-trailing-return-type

WarningsAsErrors: >
  bugprone-*,
  performance-*,
  clang-analyzer-*

HeaderFilterRegex: '.*'

AnalyzeTemporaryDtors: false

FormatStyle: none
